POSTGRES_PASSWORD=change_me

POSTGRES_PORT=change_me
JENKINS_HTTP_PORT=change_me
JENKINS_AGENT_PORT=change_me
ZOOKEEPER_PORT=change_me
KAFKA_PORT=change_me
PRESENTATION_PORT=change_me
PRESENTATION_JAR_PATH=change_me