target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Maven wrapper ###
!.mvn/wrapper/maven-wrapper.jar

### Отчёты Allure ###
allure-results/
allure-report/

### Прочее ###
.DS_Store
*.log
.env
checkList.md
README_old.md
README_OLD.md
src/test/resources/config/*-local.properties
